<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">

	<title>{{ title }}</title>

	<link href="/css/styles.css" rel="preload" as="style">
	<link href="/js/scripts.js" rel="preload" as="script">

	<link href="/fonts/open-sans-v40-latin-regular.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
	<link href="/fonts/montserrat-v26-latin-500.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
	<link href="/fonts/montserrat-v26-latin-600.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
	<link href="/fonts/montserrat-v26-latin-700.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
	<link href="/fonts/roboto-v30-latin-regular.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
	<link href="/fonts/roboto-v30-latin-500.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
	<link href="/fonts/hind-v16-latin-regular.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
	<link href="/fonts/hind-v16-latin-500.woff2" rel="preload" as="font" type="font/woff2" crossorigin>
	<link href="/fonts/hind-v16-latin-600.woff2" rel="preload" as="font" type="font/woff2" crossorigin>

	<link href="{{ url }}/favicon.svg" rel="icon" type="image/svg+xml">

	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ description | default(site) }}">

	<link href="/css/styles.css" rel="stylesheet">

	<script defer src="/js/scripts.js"></script>

{% if build %}


{% endif %}

</head>

<body>

<main class="main">

{% block content %}{% endblock %}

</main>

{% include "template/nav.html" %}

</body>
</html>