{% set title = "2я вкладка" %}

{% set nav = 2 %}

{% extends "template/base.html" %}

{% block content %}

	<div class="grafik">

		<div class="grafik__head">

			<div class="grafik__img">

				<h1 class="grafik__title">
					Ogram Network: Demo Bot
				</h1>

				<img src="/img/grafik.svg" width="353" height="258" alt="">

			</div>

		</div>

		<div class="grafik__body">

			<div class="grafik__stat">

				<div class="grafik__stat-item">

					<dl class="grafik__stat-data">

						<dt>
							Total views
						</dt>

						<dd>
							38,901,819
						</dd>

					</dl>

				</div>

				<div class="grafik__stat-item">

					<dl class="grafik__stat-data">

						<dt>
							Unique users
						</dt>

						<dd>
							615,864
						</dd>

					</dl>

				</div>

				<div class="grafik__stat-item grafik__stat-item--full">

					<dl class="grafik__stat-data">

						<dt>
							Earnings
						</dt>

						<dd>
							20,086.7 TONs
						</dd>

					</dl>

					<dl class="grafik__stat-total">

						<dt>
							CPM $3.89
						</dt>

						<dd>
							$151,654.58
						</dd>

					</dl>

				</div>

			</div>

			<p class="grafik__note">

				The information presented, including the metrics above, is intended strictly for demonstration purposes and does not form a public offer or guarantee.

			</p>

		</div>

		<div class="grafik__foot">

			<div class="banner">

				<img src="/img/320x50.svg" width="320" height="50" alt="">

			</div>

		</div>

	</div>

{% endblock %}