{% set title = "3я вкладка" %}

{% set nav = 3 %}

{% extends "template/base.html" %}

{% block content %}

	<div class="hot-profit">

		<h1 class="hot-profit__title">
			How advertisers and publishers <span>profit from Ogram ABS in Telegram mini-apps</span>
		</h1>

		<div class="tabs">

			<div class="tabs__nav">

				<button class="tabs__btn button is-active" type="button">
					Advertiser
				</button>

				<button class="tabs__btn button" type="button">
					Publisher
				</button>

			</div>

			<div class="tabs__item">

				<div class="hot-profit__box">

					<h2>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry
					</h2>

					<p>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
					</p>

				</div>

				<div class="hot-profit__info">

					<p>
						When users click on our banners, they are directed from the Mini-Apps to the advertised resource. This could be another Mini-App, a Twitter account, a Telegram channel, or a website. The classic and time-tested approach to traffic monetization is now available in Mini-Apps.
					</p>

				</div>

			</div>

			<div class="tabs__item hide">

				<div class="hot-profit__box">

					<h2>
						Lorem Ipsum is simply dummy text of
					</h2>

					<p>
						When users click on our banners, they are directed from the Mini-Apps to the advertised resource. This could be another Mini-App, a Twitter account, a Telegram channel, or a website. The classic and time-tested approach to traffic monetization is now available in Mini-Apps.
					</p>

				</div>

				<div class="hot-profit__info">

					<p>
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
					</p>

				</div>

			</div>

		</div>

	</div>

	<script>

		( tabs => {

			if ( tabs.length > 0 ) {

				[...tabs].forEach( tab => {

					const nav = tab.querySelectorAll('.tabs__btn'),
						  item = tab.querySelectorAll('.tabs__item');

					[...nav].forEach( btn => {

						btn.addEventListener('click', () => {

							[...nav].forEach( (el,index) => {

								el.classList.toggle('is-active', el === btn);
								item[index].classList.toggle('hide', el !== btn);

							});

						});

					});

				});

			}

		})(document.querySelectorAll('.tabs'));

	</script>

{% endblock %}