.first-market {

	flex-grow: 1;
	display: flex;
	flex-direction: column;

	&__head {

		display: flex;
		justify-content: center;
		margin: var(--indent) 0;

		@media (max-height: 750px) {

			img {

				width: 128px;
				height: 128px;

			}

		}

	}

	&__body {

		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	&__title {

		font-size: 24px;
		font-weight: 700;
		text-align: center;
		margin: 15px auto;
		max-width: 380px;
		font-family: Montserrat, sans-serif;

		@media (max-width: 390px) {

			font-size: 22px;

		}

		span {

			background: var(--gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

		}

	}

	&__text {

		text-align: justify;
		color: rgba(0, 0, 0, 0.56);

	}

}