.grafik {

	display: flex;
	flex-direction: column;
	flex-grow: 1;

	&__head {

		margin-bottom: var(--indent);

	}

	&__body {

		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;

	}

	&__foot {

		margin-top: var(--indent);

	}

	&__img {

		margin: calc( var(--indent) * -1 ) calc( var(--indent) * -1 ) 0;
		padding: var(--indent);
		color: #fff;
		background-image: var(--gradient);

		img {

			width: 100%;
			height: auto;
			object-fit: contain;
			max-height: 30vh;

		}

	}

	&__title {

		font-family: Montserrat;
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		margin-bottom: var(--indent);

		@media (max-width: 390px) {

			font-size: 22px;

		}

	}

	&__stat {

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: calc( var(--indent) / 2 ) var(--indent);

		@media (min-width: 480px) {

			gap: calc( var(--indent) / 2 ) calc( var(--indent) - 1px );

		}

		&-item {

			border: 1px solid rgba(0, 0, 0, 0.04);
			box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.04);
			border-radius: 6px;
			padding: 8px 12px;
			border-radius: 6px;
			width: calc( 50% - ( var(--indent) / 2 ) );

			&--full {

				width: 100%;
				display: flex;
				flex-wrap: wrap;
				gap: var(--indent);

				@media (min-width: 480px) {

					gap: calc( var(--indent) - 1px );

				}

				dl {

					width: calc( 50% - ( var(--indent) / 2 ) );

				}

			}

			dl {

				display: flex;
				flex-direction: column-reverse;

			}

		}

		&-total {

			font-family: Hind;
			font-size: 16px;
			font-weight: 600;
			line-height: 28px;
			color: rgba(0, 0, 0, 0.7);
			padding-left: 12px;

		}

		&-data {

			dt {

				font-size: 14px;
				font-weight: 500;
				line-height: 20px;
				color: rgba(0, 0, 0, 0.32);

			}

			dd {

				font-family: Hind;
				font-size: 22px;
				font-weight: 600;
				line-height: 32px;

				@media (max-width: 390px) {

					font-size: 20px;

				}

			}

		}

	}

	&__note {

		font-family: Roboto;
		font-size: 10px;
		font-weight: 500;
		line-height: 16px;
		text-align: center;
		margin-top: 15px;
		color: rgba(0, 0, 0, 0.32);

		@media (max-height: 750px) {

			display: none;

		}

	}

}